<div class="hero-unit" hm-tap="handleParentGesture($event)"
    hm-press="handleParentGesture($event)"
    hm-swipe="handleParentGesture($event)"
    hm-pinch="handleParentGesture($event)"
    hm-pan="handleParentGesture($event)"
    hm-rotate="handleParentGesture($event)">
  <h1>Angular Gestures Demo</h1>
  <p>Please tap, press(hold) and pan the following container</p>
  <div id="container" class="btn btn-large btn-primary disabled"
    hm-tap="handleGesture($event)"
    hm-press="handleGesture($event)"
    hm-swipe="handleGesture($event)"
    hm-pinch="handleGesture($event)"
    hm-pan="handleGesture($event)"
    hm-rotate="handleGesture($event)">You can <b>{{ type }}</b> this container</div>
</div>
